---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Ingenieria Facil Web | Aprende Tecnología Paso a Paso"
  description="Aprende programación, bases de datos, ciberseguridad y herramientas tecnológicas mediante guías sencillas y tutoriales prácticos."
>
  <main>
    <h1>Ingenieria Facil Web</h1>

    <p>
      Aprende programación, bases de datos, ciberseguridad y herramientas
      tecnológicas de forma sencilla.
    </p>
  </main>
</BaseLayout>