<header>
  <div class="site-brand">
    <a href="/" class="logo">Ingenieria Facil Web</a>
    <p class="tagline">Aprende tecnología paso a paso</p>
  </div>

  <nav>
    <a href="/">Inicio</a>
    <a href="/bases-de-datos">Bases de Datos</a>
    <a href="/acerca-de">Acerca de</a>
    <a href="/contacto">Contacto</a>
  </nav>
</header>
